listen: 0.0.0.0:xxx
riemannaddrs:
    - 0.0.0.0:xxx
    - 0.0.0.0:xxx
zkaddrs:
    - x.x.x.x:xxxx
    - x.x.x.x:xxxx
    - x.x.x.x:xxxx
numinitconn: xx
nummaxconn: xxx
maxfailure: x
zkpath: xxx
accesslog: xxx
errorlog: xxx
maxretry: xx
