listen: 0.0.0.0:11237
riemannaddrs:
    - 0.0.0.0:12235
    - 0.0.0.0:12236
zkaddrs:
    - 10.97.27.252:2181
    - 10.97.27.252:2182
    - 10.97.27.252:2183
numinitconn: 10
nummaxconn: 300
maxfailure: 5
zkpath: /services/proxy/riemann/dead
accesslog: /root/log/riemann-proxy/access.log
errorlog: /root/log/riemann-proxy/error.log